{% extends 'base.html' %}
{% block content %}

<div class="card card-body">
    <div class="col-md-6 offset-md-3">
        <form action="/updateReg/{{reg.ID}}" method="POST">
            <div class="row mb-3">
                <label for="nombre" class="col-sm-4 col-form-label">Nombre</label>
                <div class="col-sm-8">
                    <input type="text" name="NOMBRE" placeholder="Nombre" value="{{reg.NOMBRE}}" class="form-control" id="nombre">
                </div>
              </div>
              <div class="row mb-3">
                <label for="edad" class="col-sm-4 col-form-label">Edad</label>
                <div class="col-sm-8">
                    <input type="number" name="EDAD" placeholder="Edad" value="{{reg.EDAD}}" class="form-control" id="edad">
                </div>
              </div>
             <div>
                 <div class="row mb-3">
                <label for="telefono" class="col-sm-4 col-form-label">Teléfono</label>
                <div class="col-sm-8">
                    <input type="number" name="TELEFONO" placeholder="Telefono" value="{{reg.TELEFONO}}" class="form-control" id="telefono">
                </div>
              </div>
              <div class="row mb-3">
                <label for="telefono_movil" class="col-sm-4 col-form-label">Teléfono Móvil</label>
                <div class="col-sm-8">
                    <input type="number" name="TELEFONO_MOVIL" placeholder="Telefono Movil" value="{{reg.TELEFONO_MOVIL}}" class="form-control" id="telefono_movil">
                </div>
              </div>
              <div class="row mb-3">
                <label for="correo" class="col-sm-4 col-form-label">Correo</label>
                <div class="col-sm-8">
                    <input type="email" name="CORREO" placeholder="Correo" value="{{reg.CORREO}}" class="form-control" id="correo">
                </div>
              </div>
              <div class="row mb-3">
                <label for="formacion_academica" class="col-sm-4 col-form-label">Formación Académica</label>
                <div class="col-sm-8">
                    <input type="text" name="FORMACION_ACADEMICA" placeholder="Formacion Académica" value="{{reg.FORMACION_ACADEMICA}}" class="form-control" id="formacion_academica">
                </div>
              </div>
              <div class="row mb-3">
                <label for="categoria_propuestos" class="col-sm-4 col-form-label">Categoría Propuestos</label>
                <div class="col-sm-8">
                  <select class="form-select" id="categoria_propuestos" name="CATEGORIA_PROPUESTOS">
                    <option selected>{{reg.CATEGORIA_PROPUESTOS}}</option>
                    <option value="CHOFER" type="text" >CHOFER</option>
                    <option value="AYUDANTE" type="text">AYUDANTE</option>
                  </select>
                </div>
              </div>
              <div class="row mb-3">
                <label for="origen" class="col-sm-4 col-form-label">Origen</label>
                <div class="col-sm-8">
                    <input type="text" name="ORIGEN" placeholder="Origen" value="{{reg.ORIGEN}}" class="form-control" id="origen">
                </div>
              </div>
              <div class="row mb-3">
                <label for="f_programacion" class="col-sm-4 col-form-label">Fecha de Programación</label>
                <div class="col-sm-8">
                  <input type="date" name="F_PROGRAMACION" placeholder="Fecha de programación" value={{reg.F_PROGRAMACION}} class="form-control" id="f_programacion">
                </div>
              </div>
              <div class="row mb-3">
                <label for="responsable" class="col-sm-4 col-form-label">Responsable</label>
                <div class="col-sm-8">
                  <select class="form-select" id="responsable" name="RESPONSABLE">
                    <option selected>{{reg.RESPONSABLE}}</option>
                    <option value="ALEJANDRO PABLO CHÁVEZ" type="text" >ALEJANDRO PABLO CHÁVEZ</option>
                    <option value="ARLETTE ARVIZU RICO" type="text" >ARLETTE ARVIZU RICO</option>
                    <option value="ARTURO ENRIQUE VILLAR" type="text" >ARTURO ENRIQUE VILLAR</option>
                    <option value="BRENDA CARMONA" type="text" >BRENDA CARMONA</option>
                    <option value="CLAUDIA OLIVIA ROSAS" type="text" >CLAUDIA OLIVIA ROSAS</option>
                    <option value="CLAUDIA PULIDO" type="text" >CLAUDIA PULIDO</option>
                    <option value="DANIEL SAUCEDO" type="text" >DANIEL SAUCEDO</option>
                    <option value="ERIKA MARÍA CARPY" type="text" >ERIKA MARÍA CARPY</option>
                    <option value="ETNA SÁNCHEZ" type="text" >ETNA SÁNCHEZ</option>
                    <option value="FABIOLA CÁRDENAS" type="text" >FABIOLA CÁRDENAS</option>
                    <option value="FERNANDO MONTES DE OCA" type="text" >FERNANDO MONTES DE OCA</option>
                    <option value="GEMA HERRERA" type="text" >GEMA HERRERA</option>
                    <option value="GUADALUPE JIMÉNEZ" type="text" >GUADALUPE JIMÉNEZ</option>
                    <option value="JAIME MORALES" type="text" >JAIME MORALES</option>
                    <option value="JESÚS GARCÍA SÁNCHEZ" type="text" >JESÚS GARCÍA SÁNCHEZ</option>
                    <option value="KARLA LÓPEZ CORTES" type="text" >KARLA LÓPEZ CORTES</option>
                    <option value="MARIA ESTHER" type="text" >MARIA ESTHER</option>
                    <option value="MÓNICA JUDITH CHAO" type="text" >MÓNICA JUDITH CHAO</option>
                    <option value="PAMELA SEGOVIA" type="text" >PAMELA SEGOVIA</option>
                    <option value="PRISCILA ÁLVAREZ ROMERO" type="text" >PRISCILA ÁLVAREZ ROMERO</option>
                    <option value="QUETZALLI ENEDELIA" type="text" >QUETZALLI ENEDELIA</option>
                    <option value="CANTO" type="text" >CANTO</option>
                    <option value="RAÚL" type="text" >RAÚL</option>
                    <option value="SECRE MEX GAS" type="text" >SECRE MEX GAS</option>
                    <option value="VANIA ANAHÍ MORENO" type="text" >VANIA ANAHÍ MORENO</option>
                    <option value="OTRO" type="text">OTRO</option>
                  </select>
                </div>
              </div>
              <div class="row mb-3">
                <label for="horario" class="col-sm-4 col-form-label">Horario Escalonado</label>
                <div class="col-sm-8">
                  <select class="form-select" id="horario" name="HORARIO_ESCALONADO">
                    <option selected>{{reg.HORARIO_ESCALONADO}}</option>
                    <option value="8:00:00 a.m." type="text" >8:00:00 a.m.</option>
                    <option value="10:00:00 a.m." type="text">10:00:00 a.m.</option>
                    <option value="12:00:00 p.m." type="text">12:00:00 p.m.</option>
                    <option value="14:00:00 hrs." type="text">14:00:00 hrs.</option>
                    <option value="16.00:00 hrs." type="text">16.00:00 hrs.</option>
                    <option value="PENDIENTE DE CONFIRMAR" type="text">PENDIENTE DE CONFIRMAR</option>
                  </select>
                </div>
              </div>
              <div class="row mb-3">
                <label for="id_bt" class="col-sm-4 col-form-label">ID BT</label>
                <div class="col-sm-8">
                    <input type="number" name="ID_BT" placeholder="ID BT" value="{{reg.ID_BT}}" class="form-control" id="id_bt">
                </div>
              </div>
              <div class="row mb-3">
                <label for="tipo_licencia" class="col-sm-4 col-form-label">Tipo de Licencia</label>
                <div class="col-sm-8">
                    <input type="text" name="TIPO_LICENCIA" placeholder="Tipo Licencia" value="{{reg.TIPO_LICENCIA}}" class="form-control" id="tipo_licencia">
                </div>
              </div>
              <div class="row mb-3">
                <label for="obs" class="col-sm-4 col-form-label">OBS</label>
                <div class="col-sm-8">
                    <input type="text" name="OBS" placeholder="OBS" value="{{reg.OBS}}" class="form-control" id="obs">
                </div>
              </div>
              <div class="row mb-3">
                <label for="prueba_manejo" class="col-sm-4 col-form-label">Prueba de Manejo</label>
                <div class="col-sm-8">
                  <select class="form-select" id="prueba_manejo" name="PRUEBA_MANEJO">
                    <option selected>{{reg.PRUEBA_MANEJO}}</option>
                    <option value="OK" type="text" >OK</option>
                    <option value="N/A" type="text">N/A</option>
                  </select>
                </div>
              </div>
              <div class="row mb-3">
                <label for="apto" class="col-sm-4 col-form-label">Apto</label>
                <div class="col-sm-8">
                  <select class="form-select" id="apto" name="APTO">
                    <option selected>{{reg.APTO}}</option>
                    <option value="APTO" type="text" >APTO</option>
                    <option value="NO APTO" type="text">NO APTO</option>
                  </select>
                </div>
              </div>
              <div class="row mb-3">
                <label for="mmpi" class="col-sm-4 col-form-label">MMPI</label>
                <div class="col-sm-8">
                  <select class="form-select" id="mmpi" name="MMPI">
                    <option selected>{{reg.MMPI}}</option>
                    <option value="Sí" type="text" >Sí</option>
                    <option value=" " type="text"> </option>
                  </select>
                </div>
              </div>
              <div class="row mb-3">
                <label for="resultado_mmpi" class="col-sm-4 col-form-label">Resultado MMPI</label>
                <div class="col-sm-8">
                  <select class="form-select" id="resultado_mmpi" name="RESULTADO_MMPI">
                    <option selected>{{reg.RESULTADO_MMPI}}</option>
                    <option value="R" type="text" >R</option>
                    <option value="R+" type="text" >R+</option>
                    <option value="NR" type="text" >NR</option>
                    <option value="FALTA RESULTADO" type="text" >FALTA RESULTADO</option>
                    <option value="INVÁLIDA" type="text" >INVÁLIDA</option>
                    <option value="N/A" type="text" >N/A</option>
                    <option value=" " type="text"> </option>
                  </select>
                </div>
              </div>
              <div class="row mb-3">
                <label for="capacitacion_seguridad" class="col-sm-4 col-form-label">Capacitación Seguridad</label>
                <div class="col-sm-8">
                    <input type="text" name="CAPACITACION_SEGURIDAD" placeholder="Capacitación seguridad" value="{{reg.CAPACITACION_SEGURIDAD}}" class="form-control" id="capacitacion_seguridad">
                </div>
              </div>
              <div class="row mb-3">
                <label for="documentacion" class="col-sm-4 col-form-label">Documentación</label>
                <div class="col-sm-8">
                    <input type="text" name="DOCUMENTACION" placeholder="Documentación" value="{{reg.DOCUMENTACION}}" class="form-control" id="documentacion">
                </div>
              </div>
                <BUtton type="submit" class="btn btn-primary">
                     <i class="fa fa-save" aria-hidden="true"></i>
                    Guardar
                </BUtton>
                 <a class="edit btn btn-outline-danger" href="/">Cancelar</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}